
    	.type1{
    		color: #d98679;
    	}
    	.type2{
    		color: #f5e969;
    	}
    	.type3{
    		color: #7ac49a;
    	}
    	.type4{
    		color: #7192bd;
    	}
    	.active{
    		font-weight: bold;
    		border:none !important;
    		color: #888 !important;
    		font-size: 18px;
    	}
    	.btn-success{
    		border:none;
    	}
    	#option0{
    		background: #bbb;
    	}
    	#option1{
    		background: #d98679;
    	}
    	#option2{
    		background: #f5e969;
    	}
    	#option3{
    		background: #7ac49a;
    	}
    	#option4{
    		background: #7192bd;
    	}
    	.card{
    		height: 200px;
    		width: 350px !important;
    		margin-bottom: 30px;
    	}
    	.card .card-header{
    		height: 50px;
    		overflow: hidden;
    	}
    	.card-header i{
    		font-size: 15px;
    		float: right;
    		margin-top: 3px;
    	}
    	.card .card-body{
    		font-size: 12px;
    	}
    	.card .card-text{
    		height: 50px;
    		font-size: 15px;
    		overflow: hidden;
    	}
    	.card .card-info{
    		width: calc (100% - 50px );
    		display: inline-block;
    	}
    	.card .commentClass{
    		float: right;
    		width: 50px;
    	}
    	
    	.btn-primary{
    		background: #a1c48f;
    		border: none;
    	}
    	.btn-primary:hover{
    		background: #90b38e !important;
    	}
    	.btn-primary:active{
    		background: #90b38e !important;
    	}
    	.modal select{
    		border-radius : 10px;
    		width: 80px;
    		height: 40px;
    		font-weight: bold;
    	}
    		h1 {
			  height: 100px;
			}
			
			h1 span {
			  position: relative;
			  top: 20px;
			  display: inline-block;
			  animation: bounce .3s ease infinite alternate;
			  font-size: 40px;
			  
			  color: #444;
			  text-shadow: 0 1px 0 #CCC,
			               0 2px 0 #CCC,
			               0 3px 0 #CCC,
			               0 4px 0 #CCC,
			               0 5px 0 #CCC,
			               0 6px 0 transparent,
			               0 7px 0 transparent,
			               0 8px 0 transparent,
			               0 9px 0 transparent,
			               0 10px 10px rgba(0, 0, 0, .4);
			}
			
			h1 span:nth-child(2) { animation-delay: .1s; }
			h1 span:nth-child(3) { animation-delay: .2s; }
			h1 span:nth-child(4) { animation-delay: .3s; }
			h1 span:nth-child(5) { animation-delay: .4s; }
			h1 span:nth-child(6) { animation-delay: .5s; }
			h1 span:nth-child(7) { animation-delay: .6s; }
			h1 span:nth-child(8) { animation-delay: .7s; }
			
			@keyframes bounce {
			  100% {
			    top: -20px;
			    text-shadow: 0 1px 0 #CCC,
			                 0 2px 0 #CCC,
			                 0 3px 0 #CCC,
			                 0 4px 0 #CCC,
			                 0 5px 0 #CCC,
			                 0 6px 0 #CCC,
			                 0 7px 0 #CCC,
			                 0 8px 0 #CCC,
			                 0 9px 0 #CCC,
			                 0 50px 25px rgba(0, 0, 0, .2);
			  }
			}
		.form-group{
			text-align: left;
		}
		.form-group label{
			font-size: 22px;
			font-weight: bold;
		}
    	#noBoard{
    		border-radius: 10px;
    		width: 50vw;
    		margin: auto;
    		margin-top: 70px;
    		font-size: 20px;
    		text-align: center;
    		padding: 30px 10px;
    	}
    	.bottom {
    		position: absolute;
    		text-align: center; 
    		left: 0; 
    		right: 0; 
    		margin: 0 auto; 
    	}
    	.select-category {
    		text-align: left; 
    	}
    	#commentList{
    		height: auto;
    		max-height: 250px;
    		overflow: scroll;
    		background: #aaa;
    		border-radius: 15px;
    	}
    	#commentList .new{
    		background: white;
    		height: 60px;
    	}
    	.inputComment{
    		border-radius: 15px;
    		background: #eee;
    		border: 3px #666 dashed;
    	}
    	.inputComment:focus{
    		background: #eee;
    	}
    	.comment{
    		text-align: left;
    		width: calc (100% - 80px);
    		margin: 25px 30px 10px 30px;
    		padding: 5px 10px 5px 10px;
    		border: none;
    		border-radius: 10px;
    		background: #eee;
    	}
    	#commentList i{
    		margin-left: 10px;
    		margin-right: 5px;
    	}
    	.c_content{
    		font-weight: bold;
    		font-size: 18px;
    	}
    	.c_writer{
    		margin-left: 40px;
    		float: left;
    		font-size: 15px;
    	}
    	.c_time{
    		font-size: 12px;
    		color: #444;
    		margin-left: 20px;
    		position: static;
    		right: 20px;
    		font-style: italic;
    	}
    	.row2{
    		display: inline-block;
    	}
    	#boardList{
    		padding-top: 30px;
    		width: auto;
    		margin: auto;
    		text-align: left;
    	}
    	.card{
    		width: 350px !important;
    		display: inline-block;
    		margin-left: 50px !important;
    		margin-right: 10px !important;
    	}
    	.card button{
    		background: #a1c48f;
    		border: none;
    	}
    	.card button:hover{
    		background: #90b37e;
    	}
    	 .card button:active{
    		background: #90b37e !important;
    	}
    	
    	 .card button:focus{
    		background: #90b37e !important;
    	}