html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	background: #f6f6f6;
}
header{
	height: 80px;
	background-color: #a1c48f;
	width: 100%;
	position: fixed;
	top: 0;
	/* border-radius: 10px 10px 10px 10px;
	margin: 10px;
	box-shadow: 2px 2px 0px 1px grey; */
}
.logo{
	width: 100px;
	background-image: url("../assets/logo2.png");
    background-size: cover;
}