html, body{
   width: 100%;
   height: 100%;
   margin: 0;
   background: #f6f6f6;
   /*background: #e8f5e1;*/
 }
 .explan{
   display: inline-block;
   width: calc( 100% - 300px );
   height: auto;
   float: left;
   padding-top: 150px;
   text-align: center;
   color: #666;
 }
 .point{
   color: #a1c48f;
 }
 .side{
   display: inline-block;
   width: 280px;
   height: calc( 100% - 20px );
   background-color: #a1c48f; /*#006666 #a1c48f*/
   float: left;
   margin:10px;
   border-radius: 15px;
   box-sizing: border-box;
   box-shadow: 3px 3px 0px 1px grey;
   position: fixed;
   right: 0;
 }
 .logo{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   background-color: white;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   background-image: url("../assets/logo.png");
   background-size: cover;
 }
 .login_space{
   width: 200px;
   margin: auto;
 }
 .login_input{
   border:none;
   border-radius: 10px;
   width: 100%;
   height: 35px;
   margin-bottom: 10px;
   font-size: 17px;
   padding: 0 20;
 }
 input::placeholder { font-size: 14px; text-align: left;}
 #login_submit{
   background-color: #7fa36c;
   color: white;
 }
 #login_submit:hover{
   background-color: #6e925b;
 }
 #interactive{
   height: 50px;
 }
 #i2{
   /*display:none;*/
   border:none;
   border-radius: 10px;
   margin-bottom: 10px;
   font-size: 17px;
   width: 150px;
   height: 40px;
   padding: 10px;
   background: #a1c48f;
   font-weight: bold;
   color: white;
 }
 #i2 {
   animation: pulse 1s infinite;
   transition: .3s;
   /*box-shadow: 2px 2px grey;*/
 }
 #i2:hover{
   /*background: #90b37e;*/
 }
 @keyframes pulse {
   0% {
     transform: scale(1);
   }
   70% {
     transform: scale(.9);
   }
     100% {
     transform: scale(1);
   }
 }