<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper"> 
	
	<insert id="createPost" parameterType="BoardDTO">
		INSERT INTO board(type, title, content) VALUES(#{type}, #{title}, #{content})
	</insert>

	<select id="getGroupId" resultType="int" parameterType="String">
		SELECT id FROM `group` WHERE link=#{link} 
	</select>
	
	<select id="getBoardList" resultType="BoardDTO" parameterType="int"> 
		SELECT * FROM board WHERE group_id=#{group_id}
	</select>

	<select id="getCommentList" resultType="CommentDTO">
		SELECT * FROM comment WHERE board_id=#{board_id}
	</select>
</mapper>