<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GroupMapper"> 
	
	<insert id="createGroup" parameterType="GroupDTO">
		INSERT INTO `group`(name, link, detail) VALUES(#{name}, #{link}, #{detail}); 
	</insert>
	
	<select id="groupListbyUserId" parameterType="int" resultType="GroupDTO">
		select GM.id, GM.manager_id as managerId, GM.managerName, GM.`name`, GM.detail from  (select G.id, G.manager_id, U.`name` as managerName, G.name, G.link, G.detail from `group` AS G inner join `user` as U on G.manager_id = U.id) AS GM inner join `join` on GM.id = `join`.group_id where user_id={user_id};
	</select> 
	

</mapper>