<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper"> 
	<select id="getUserById" resultType="UserDTO" parameterType="String">
		SELECT * FROM user WHERE user_id=#{user_id}
	</select>
	
	<select id="getUser" resultType="UserDTO" parameterType="UserDTO">
		SELECT * FROM user WHERE user_id=#{user_id} AND user_pw=#{user_pw} 
	</select>
	<select id="getUserList" resultType="UserDTO">
        SELECT * FROM user
    </select>
    
	<insert id="joinUser" parameterType="UserDTO">
		insert into user (name, user_id, user_pw, phone, email)
			values (#{name}, #{user_id}, #{user_pw}, #{phone}, #{email});
	</insert>
	
	<select id="getID" resultType="int" parameterType="String">
		SELECT id FROM user WHERE user_id=#{user_id}
	</select>
	
	<select id="getSalt" resultType="_byte[]">
		SELECT salt FROM salt WHERE user_id=#{user_id}
	</select> 
	
	<insert id="storeSalt" parameterType="SaltDTO"> 
		insert into salt (user_id, salt) values (#{user_id}, #{salt}); 
	</insert>
	
	<select id="idDupCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) from user WHERE user_id=#{user_id};
	</select>
	
	<select id="groupUserList" parameterType="int" resultType="GroupUserDTO">
		select `name`, `email`, join_time as date, auth from `user` inner join `join` on `user`.id = `join`.user_id where group_id = #{group_id};
	</select>
	
	<select id="getUserInfo" resultType="UserDTO">
		select id, name, user_id, email,phone  from `user` where id = #{user_id};
	</select>
</mapper>